<ion-view id="accueil">

  <div class="wrapper">
    <div class="head">
      <h2>Bienvenue sur Conjifun</h2>
      <p>Prêt à devenir un as de la conjugaison ?</p>
    </div>

    <div class="container-menu">
      <div class="child">
        <img src="../img/plus.png">
        <a ui-sref="appli.revision"><p>Réviser</p></a>
      </div>
      <div class="child">
        <img src="../img/plus.png">
        <a ui-sref="appli.exercice" ><p>S'entraîner</p></a>
      </div>
      <div class="child">
        <img src="../img/plus.png">
        <a ui-sref="appli.profile"><p>Profil</p></a>
      </div>
    </div>
  </div>


</ion-view>
